In [1]:
import numpy as np
import pandas as pd
import sklearn
import tensorflow as tf
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Salary_Data.csv')
df.head(3)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0

In [3]:
n=df.shape[0]
w_initial=[1,1]
n

30

In [4]:
def grad(y,x,a,b):
    df_da=-1*a*(y-(a*x+b))
    df_db=(y-(a*x+b))
    return df_da,df_db

In [5]:
def SGD(w_initial,learning_rate):
    epochs=100
    for epoch in range(epochs):
        for i in range(n):
            x=df['YearsExperience'][i]
            y=df['Salary'][i]
            df_da,df_db=grad(y,x,w_initial[0],w_initial[1])
            w_initial[0]=w_initial[0]-learning_rate*df_da
            w_initial[1]=w_initial[1]-learning_rate*df_db
    return w_initial

In [6]:
SGD(w_initial,0.0000001)

[14135.817878957518, -8.594249712633362]

In [7]:
df['YearsExperience'][1]

1.3

In [8]:
df['Salary'][1]

46205.0

In [17]:
x=w_initial[0]*df['YearsExperience'][1]-w_initial[1]

18385.157492357408

In [18]:
error=df['Salary'][1]-x
error

27819.842507642592

In [19]:
error_per=error/df['Salary'][1]*100
error_per

60.209593134168585